@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat Alternates', sans-serif;
  /* @apply transition-all duration-75 */
}

body {
  @apply dark:bg-[#333] dark:text-white
}


@layer components {
  .title-one {
    font-family: 'Black Ops One', sans-serif;
  }

  .title-two {
    font-family: 'Rubik LInes', sans-serif;
  }

  .spacing-x {
    @apply px-12 max-[1000px]:px-6
  }

  .img-text {
    --image: url('/images/powerrangers.webp');
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    background-image: var(--image); 
    background-size: cover;
  }

  .grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @media only screen and (max-width: 500px) {
    .grid-box {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
}